<div class="table-container">
  <h2 class="table-title">Eligible Students</h2>
  <div class="table-responsive">
    <table class="table table-dark table-striped">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Latitude</th>
        <th scope="col">Longitude</th>
        <th scope="col">Field</th>
      </tr>
      </thead>
      <tbody *ngFor="let student of potentialStudents">
      <tr>
        <td>{{student.name}}</td>
        <td>{{student.latitude}}</td>
        <td>{{student.longitude}}</td>
        <td>{{student.field}}</td>

      </tr>
      <!-- Add more rows as needed -->
      </tbody>
    </table>
  </div>
</div>
