<!-- © 2024 Vasiliy Lawing -->

<app-header></app-header>



<p-splitter [style]="{ height: '100vh' }" styleClass="mb-5" layout="horizontal" [panelSizes]="[74, 21]">
    <ng-template pTemplate>
        <p-splitter [style]="{ height: '100%' }" styleClass="mb-5" layout="vertical" [panelSizes]="[99, 1]">
            <ng-template pTemplate>
                <div id="map"></div>
            </ng-template>
            <ng-template pTemplate>
                <div style="width: 100%" *ngIf="mapManager.getSelectedCompanies(companies)[0] !== undefined">
<!--                    <app-eligible-students-list [selectedCompany]="mapManager.getSelectedCompanies(companies)[0]" [eligibleStudents]="mapManager.returnEligibleStudents(companies, students)"></app-eligible-students-list>-->
                    <app-eligible-schools-list [selectedCompany]="mapManager.getSelectedCompanies(companies)[0]" [eligibleSchools]="mapManager.returnEligibleSchools(companies, schools)"></app-eligible-schools-list>
                </div>
            </ng-template>
        </p-splitter>
    </ng-template>
    <ng-template pTemplate>
        <div class="company-list" style="width: 100%;">
            <app-company-list [companies]="companies"></app-company-list>
        </div>
    </ng-template>
</p-splitter>

<p-dialog [(visible)]="this.dialogService.manageData" [draggable]="true" [resizable]="true" [style]="{}" header="ManageData">
    <app-manage-data></app-manage-data>

</p-dialog>
