

#map {
  height: 60%;
}
.center {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.companyList {

  position: absolute;
  top: 10%;
  left: 76%;

}

.eligibleStudentsList {
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translateX(-50%);
}
.key {
  position: absolute;
  left: 5%;
  top: 10%;

}
.controls {
  position: absolute;
  top: calc(40% + 30px);
  left: 5%;
}

.moreInfo {
  position: absolute;
  top: calc(10% + 600px); /* Adjust as necessary */
  left: 76%; /* Adjust as necessary */
}
