<!-- © 2024 Vasiliy Lawing -->

<app-header></app-header>



<p-splitter [style]="{ height: '100vh', width: '100%' }" styleClass="mb-5" layout="horizontal">
    <ng-template pTemplate>
        <p-splitter [style]="{ height: '100%', width: '50%' }" styleClass="mb-5" layout="vertical">
            <ng-template pTemplate>
                <div id="map"></div>
            </ng-template>
            <ng-template pTemplate>
                <div style="width: 100%" *ngIf="mapManager.getSelectedCompanies(companies)[0] !== undefined">
<!--                    <app-eligible-students-list [selectedCompany]="mapManager.getSelectedCompanies(companies)[0]" [eligibleStudents]="mapManager.returnEligibleStudents(companies, students)"></app-eligible-students-list>-->
                    <app-eligible-schools-list [selectedCompany]="mapManager.getSelectedCompanies(companies)[0]" [eligibleSchools]="schools"></app-eligible-schools-list>
                </div>
            </ng-template>
        </p-splitter>
    </ng-template>
    <ng-template pTemplate>
        <div class="company-list" style="width: 100%;">
            <app-company-list [companies]="companies"></app-company-list>
        </div>
    </ng-template>
</p-splitter>
