
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Added background color for better visualization */
}




#map {
  grid-area: map;
  height: 100%;
  width: 100%;
}

.sidebar {
  grid-area: sidebar;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.sidebar > div {
  margin-bottom: 20px;
}

.company-list {
  margin-bottom: 20px;
}


.more-info {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .dashboard {
    grid-template-columns: 1fr; /* Adjust for smaller screens */
    grid-template-rows: auto auto;
    grid-template-areas:
                    "map"
                    "sidebar";
  }

  .sidebar {
    margin-top: 20px; /* Adjust for spacing */
  }
}


