<h2 class="table-title">Companies</h2>
<div class="table-responsive">
  <form [formGroup]="addCompany">

    <table class="table table-dark table-striped">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Longitude</th>
        <th scope="col">Latitude</th>
        <th scope="col">Type</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let company of companies">
        <td>{{company.name}}</td>
        <td>{{company.longitude}}</td>
        <td>{{company.latitude}}</td>
        <td>{{company.field}}</td>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <td><input type="text" formControlName="name"></td>
        <td><input type="text" formControlName="longitude"></td>
        <td><input type="text" formControlName="latitude"></td>
        <td><input type="text" formControlName="field"></td>
      </tr>
      </tbody>
    </table>
    <button (click)="addNewCompany()" class="btn btn-dark">Update</button>

  </form>
</div>
